@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
    background: url(bgimage2.png) no-repeat;
    background-size: cover;
    font-family: 'Edu TAS Beginner';
    
}

.box {
    width: 450px;
    padding: 200px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    
}

.box ul{
   padding: 10px 20px;
}

.box a:hover{
    background-color: black;
    color: aliceblue;
}

.box a{
    padding: 15px 60px;
    border-radius: 0%;
    background-color: aliceblue;
}