.box1{
width: 350px;
height: 220px;
background-color: aliceblue;
padding: 10px;
border: 1px solid black;
border-radius: 10px;
}

.box-top {
    display: flex;
    border-bottom: 1px solid black;
}




.kotak-box {
    display: flex;
    justify-content: space-around;
}


.box1 img {
    width: 100px;
    margin-right: 10px;
    

}

.box1 h1 {
    text-align: center;
    font-size: 25px;

}

.box1 button {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;

}

.btn {
    text-align: center;
    margin-top: 5px;

}

.btn a {
    padding: 5px 10px;
}




